<template>
  <b-container>
    <div class="form-wrapper">
      <b-form @submit.prevent="onSubmit">
        <b-form-input
          id="first-mame"
          v-model="formUser.firstName"
          type="text"
          required
          placeholder="Enter firstname"
          class="mb-1"
        ></b-form-input>
        <b-form-input
          id="last-name"
          v-model="formUser.lastName"
          type="text"
          required
          placeholder="Enter lastname"
          class="mb-1"
        ></b-form-input>
        <b-form-input
          id="age"
          v-model="formUser.age"
          type="number"
          required
          placeholder="Enter age"
          class="mb-1"
        ></b-form-input>
        <b-button type="submit" variant="primary">Save</b-button>
      </b-form>
    </div>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { ADD_USER, EDIT_USER, USERS_ARRAY } from '@/store/values';
import { User, FormActions } from '@/common/definitions';

const DEFAULT_DATA_FORM = {
  firstName: '',
  lastName: '',
  age: ''
};

@Component
export default class UserForm extends Vue {
  @Prop(Number)
  public readonly userId!: number;

  @Prop({ type: String, required: true })
  public readonly action!: FormActions;

  formUser = {
    ...DEFAULT_DATA_FORM
  };

  private get isEditing(): boolean {
    return this.action === 'edit';
  }

  private get isAdding(): boolean {
    return this.action === 'add';
  }

  created(): void {
    if (this.isEditing) {
      const user = this.$store.getters[USERS_ARRAY].filter(
        (item: User) => item.id === this.userId
      )[0];
      if (!user) {
        this.$router.back();
        return;
      }
      this.formUser.firstName = user.firstName;
      this.formUser.lastName = user.lastName;
      this.formUser.age = user.age;
    }
  }

  onSubmit(): void {
    if (this.isEditing) {
      this.$store.commit(EDIT_USER, {
        ...this.formUser,
        ...(this.userId ? { id: this.userId } : {})
      });
    } else if (this.isAdding) {
      this.$store.commit(ADD_USER, this.formUser);
    }

    this.formUser = {
      ...DEFAULT_DATA_FORM
    };
  }
}
</script>

<style scoped></style>
