<template>
  <div>
    <b-table striped hover :items="users" :fields="fields">
      <template v-slot:cell(actions)="row">
        <b-button size="sm" @click="edit(row.item)" class="mr-1">
          Editar
        </b-button>
        <b-button variant="danger" size="sm" @click="remove(row.item)" class="mr-1">
          Eliminar
        </b-button>
      </template>
    </b-table>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { User } from '@/common/definitions';
import { USERS_ARRAY, DELETE_USER } from '@/store/values';

@Component
export default class UsersList extends Vue {
  fields = [
    { key: 'firstName', sortable: true },
    { key: 'lastName', sortable: true },
    { key: 'age', sortable: true },
    { key: 'actions', label: 'Actions' }
  ];

  mounted(): void {
    console.log('UsersList mounted');
  }

  edit(user: User): void {
    console.log('editing', user);
    this.$router.push({
      name: 'EditUser',
      params: {
        id: `${user.id}`
      }
    });
  }

  remove(user: User): void {
    this.$store.commit(DELETE_USER, user.id);
  }

  get users(): Array<User> {
    return this.$store.getters[USERS_ARRAY];
  }
}
</script>

<style scoped></style>
