<template>
  <div class="home">
    <UsersList />
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';
import UsersList from '@/components/UsersList/index.vue';

export default {
  name: 'Home',
  components: {
    UsersList
  }
};
</script>
