<template>
  <div class="hello">
    <h1 v-bind:class="{ active: isActive, 'text-danger': hasError }">{{ msg }}</h1>
    <button v-on:click="toggleActive">CLICK ME</button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;

  isActive = true;

  hasError = false;

  toggleActive() {
    this.isActive = !this.isActive;
  }

  @Watch('isActive')
  onActiveChange() {
    this.hasError = !this.hasError;
  }

  mounted() {
    console.log('HelloWorld was mounted');
  }

  created() {
    console.log('HelloWorld was created');
  }

  render() {
    console.log('HelloWorld was rendered');
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.active {
  background-color: green;
}

.text-danger {
  background-color: red;
}
</style>
