<template>
  <user-form action="add"></user-form>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UserForm from '@/components/UserForm/index.vue';

@Component({ components: { UserForm } })
export default class AddUser extends Vue {}
</script>

<style scoped lang="scss"></style>
