<template>
  <user-form action="edit" :user-id="userId"></user-form>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UserForm from '@/components/UserForm/index.vue';

@Component({ components: { UserForm } })
export default class EditUser extends Vue {
  get userId(): number {
    return parseInt(this.$route.params.id, 10);
  }
}
</script>

<style scoped lang="scss"></style>
